Package: com.s0mecoder.headline
Name: Headline
Version: 1.0
Architecture: iphoneos-arm
Description: HTML lock screen for GroovyLock and LockHTML3/4.
Depiction: 
Homepage: http://www.reddit.com/u/S0MECoder
Maintainer: S0MECoder <thatguyontheinternet4@gmail.com>
Author: S0MECoder <thatguyontheinternet4@gmail.com>
Section: Lockscreens
