html
{
    font-family: Helvetica, sans-serif;
    background-color: darkcyan;
}
body 
{
}
#topBar
{
    background-color: #007070;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid aqua;
    text-align: center;
}
#install
{
    
}
#main
{
    color: #00dddd;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
#info
{
}
iframe
{
    border: 1px solid aqua;
    width: 640px;
    height: 320px;
    resize: both;
    overflow: auto;
}
h1
{
    font-style: oblique;
    font-weight: 300;
    color: #00cccc;
    text-shadow: 0px 1px 0px #000000;
}
h2
{
    color: #00dddd;
    font-style: oblique;
    text-shadow: 0px 1px 0px #444444;
}
h3
{
    color: #00dddd;
    text-shadow: 0px 1px 0px #000000;
}
img
{
    padding-top: 0px;
    width: 16px;
    height: 16px;
    margin-top: 2px;
}
a
{
    font-style: normal;
    text-decoration: none;
    color: cyan;
}
ul
{
    list-style: inside none;
}

