html
{
}
body
{
    font-family: sans-serif;
    font-size: 16px;
    background-color: black;
}
#output
{
}
#days
{
    display: inline-block;
    color: lightpink;
    margin-left: 5px;
}
#message
{
    display: inline-block;
    color: rgba(255, 255, 255, 0.9);
    margin-right: 5px;
}