html {
}
@font-face
{
    font-family: "RL";
    src: url("fonts/Roboto-Light.ttf");
}
@font-face
{
    font-family: "RR";
    src: url("fonts/Roboto-Regular.ttf");
}
body {
    font-family: "RL";
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #1cdada;
}
#container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    height: 40px;
    width: 95px;
    background-color: rgba(205, 220, 255, 1.0); /*#FF6400*/
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    transition: width .75s ease-in-out,
                height .75s ease-in-out,
                background-color .75s ease-in-out;
}
#time {
    margin-top: 2px;
    font-size: 32px;
    color: rgba(70, 70, 70, 1.0);
    transition: opacity .1s ease-in-out;
}
#info {
    margin-top: 2px;
    font-size: 16px;
    color: rgba(255, 255, 255, 1.0);
    transition: opacity .1s ease-in-out;
}
table {
    font-family: "RR";
    color: white;
    border-spacing: 0px 5px;
}