html {
}
@font-face {
    font-family: "RL";
    src: url("fonts/Roboto-Light.ttf");
}
@font-face {
    font-family: "RR";
    src: url("fonts/Roboto-Regular.ttf");
}
body {
    font-family: "RL";
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: darkslategray;
    font-size: 36px;
    width: 100%;
}
#weather {
    width: 100%;
}

#city {
    font-size: 36px;
    font-family: "RR";
}
#city1 {
    text-align: left;
}
#city2 {
    text-align: right;
}

#temp {
    font-size: 18px;
}
#temp1 {
    text-align: left;
}
#temp2 {
    text-align: right;
}

#word {
    font-size: 24px;
}
#word1 {
    text-align: left;
}
#word2 {
    text-align: right;
}