html {
}
@font-face
{
    font-family: "Walkway";
    src: url("fonts/Walkway_SemiBold.ttf");
}
body {
    font-family: "Walkway";
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #d5f1ee;
}
#above {
    margin-top: 20%;
}
#below {
}
#above, #below {
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: 900;
    opacity: 0.0;
    transition: opacity 1s ease-in-out;
}
#time {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    font-size: 50px;
    text-shadow: 0px 0px 5px #777777;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    border-radius: 25px 4px 25px 4px;
    box-shadow: 0px 0px 10px #d5f1ee inset;
}